
<div class ="text-center" id="cocktail-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<% @cocktails.each do |cocktail| %>
				<%= link_to cocktail_path(cocktail) do %>
				<p><%= cocktail.name%></p>
				<% end %>
				<% end %>
				<hr>
				<%= link_to 'Create', new_cocktail_path %>

			</div>
		</div>
	</div>
</div>